streamlit
streamlit_option_menu
pandas
yfinance
plotly
cufflinks
datetime
prophet
requests
ta

https://sourceforge.net/projects/ta-lib-win/files/ta-lib/TA_Lib-0.4.24-cp310-cp310-win_amd64.whl/download